nav .menu_2 li:last-child a{
  border-bottom: solid 4px var(--color_purple);
}

/*---------------------------------Content---------------------------------*/
.content{
  margin: 0 2rem;
  text-align: center;
  font-family: var(--font_text);
}

.content  h1{
  margin-bottom: 2rem;
  color: var(--color_black);
  text-align: center;
}

.content  h2{
  color: var(--color_black);
  font-weight: 700;
  margin: 1rem 0;
}

.content  p{
  margin: 1.5rem 0;
  color: var(--color_black);
}

.content a{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--color_black);
}

.content a:hover{
  color: var(--color_green);
}

.content img{
  width: 1.5rem;
  margin: 0 0.5rem;
}

.tnksSection{
  text-align: center;
  margin: 2rem 0 0 0;
}

.tnksSection h1{
  margin-bottom: 0;
}

.tnksSection img{
  width: 30px;
}

.innerTnksSection{
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerTnksSection img{
  width: 60px;
  height: 100%;
  margin: 0 1rem;
}

/*---------------------------------Content---------------------------------*/

/*---------------------------------Breakpoint-------------------------------*/
@media (min-width: 880px) {

  .content{
    width: 70%;
    text-align: left;
    margin: auto;
  }

  .innerContent{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 5rem;
   }

   .section_1 h2{
     text-align: center;
     margin-top: 5rem;
   }

   .section_1 p{
     text-align: center;
   }

  .content a{
    justify-content: left;
  }

  .section_1 a{
    margin-left: 25%;
  }

  .section_2 a{
    margin-left: 10%;
  }

}
